.app.dark {
    --bg-color: #000062;
    --inverted-bg-color: #c3c3c3;

    --primary-color: rgb(13, 158, 13);
    --secondary-color: rgb(14, 186, 14);
    --inverted-primary-color: rgb(1, 10, 115);
    --inverted-secondary-color: rgb(26, 93, 218);
}