.app.light {
    --bg-color: #c3c3c3;
    --inverted-bg-color: #000062;
    --primary-color: rgb(11 27 217);
    --secondary-color: rgb(26 93 218);
    --inverted-primary-color: rgb(3 94 3);
    --inverted-secondary-color: rgb(14 186 14);
}
