.starRating {
    .hovered {
        fill: var(--primary-color);
    }
}

.starRatingRedesigned {
    .hovered {
        fill: var(--icon-redesigned);
    }
}

.starIcon {
    fill: none;
    cursor: pointer;
}

.normal {
    fill: none;
}

.selected {
    cursor: auto;
}
